@import '../../styles.scss';

.main{
    padding: 0 2rem;
    height: calc(100vh - 230px);
    color: $color-white;
    display: flex;
    justify-content: space-between;
    &-line{
        height: 70%;
        width:  3px;
        background-color: rgba($color-white, .5);
    }
    &-title{
        font-size:  7rem;
        font-weight: 500;
    }
    &-subtitle{
        font-size:  2rem;
        font-weight: 300;
        letter-spacing: .5rem;
    }
    &-text{
        width: 40%;
        margin-top: 3rem;
    }
    &-btn{
        width: 10%;
        margin-top: 1rem;
        text-align: center;
        padding:  .7rem 1rem;
        border-radius: 100px;
        background-color: $color-yellow;
        transition: .3s;
        &:hover{
            cursor: pointer;
            color: $color-yellow;
            background-color: $color-white;
        }
    }
    &-year{
        opacity: .7;
        font-size: 2rem;
        letter-spacing: 1rem;
        writing-mode: vertical-rl; 
    }
}

@media only screen and (max-width: 900px) {
    .main{
        &-box-text{
            margin-top: 2rem;
        }
        &-line, &-year{
            display: none;
        }
        &-title{
            font-size: 5rem;
        }
        &-subtitle{
            font-size: 1rem;
        }
        &-text{
            width: 100%;
        }
        &-btn{
            width: 80%;
        }
    }
}