<main class="main">
    <div class="main-line"></div>
    <div class="main-box-text">
        <h1 class="main-title"> TRAVEL </h1>
        <h2 class="main-subtitle"> EXPLORE THE WORLD </h2>
        <p class="main-text">
            Wanderlusting, picking the perfect vacation spot, knowing where the locals go: No matter where you are in your trip-planning process, we have you covered.
        </p>
        <div class="main-btn"> Explore </div>
    </div>
    <div class="main-year">
        2022
    </div>
</main>